@CHARSET "ISO-8859-1";

div.footer{
	background: #AAAAAA url('/src/images/fgradienta.png') repeat-x ;
	border: 1px solid black;
	height: 110px;
}

.smicons{
	margin-top: 10px;
}

.smicon img{
	width: 30px;
	height: 30px;
	border: none;
}

.smicons a{
	text-decoration: none;
}
